.App {
  font-family: sans-serif;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;

  padding: 2rem;
}

.containerChapters {
  display: flex;
  flex-direction: column;
}
